<!-- node-popup.component.html -->
<div class="modal">
  <div class="modal-content">
    <h4>Datos disponibles del órgano seleccionado: </h4>
    <form>
      <div class="input-field">
        <span class="input-field-label">Nombre: </span>
        <span class="input-field-data">{{data.nodeInfo.name}}</span>
        
      </div>
      <!-- Agrega más campos según tu estructura de datos -->

      <!-- Botón para cerrar la ventana modal -->
      <button class="btn waves-effect waves-light" type="button" (click)="closeDialog()">Cerrar</button>
    </form>
  </div>
</div>






