/* org-chart.component.css */
:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px; /* Ajusta el tamaño del relleno según sea necesario */
  text-align: center;
}

.chart-container {
  width: calc(100% - 20px); /* Ten en cuenta el relleno al calcular el ancho */
  height: calc(100% - 20px); /* Ten en cuenta el relleno al calcular la altura */
  border: 1px solid #ddd;
  overflow: auto;
}

